@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap');

body {
    font-family: 'Inconsolata', sans-serif;  
}

.nav-bg {
    background: #B4E4F1;
}

.navbar {
   font-size: larger;
  
}


.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}