@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap');

body {
    font-family: 'Inconsolata', sans-serif;  
}

.nav-bg {
    background: #B4E4F1;
}

.navbar {
   font-size: larger;
  
}

#hero-image {

    height: 50vh;
    background: url('https://res.cloudinary.com/dexhos525/image/upload/v1654255430/bookshelf_muted_sixtnm.jpg') no-repeat center;
    opacity: 0.5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}