@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap');

body {
    font-family: 'Inconsolata', sans-serif;  
    background:#FAFAF0;
}

.nav-bg {
    background: #D8FFFA;
    box-shadow: 0px 2px 5px #D1F1F9;
}

.navbar {
   font-size: larger;
  
}

header {
    /* z-index: 9999999; */
    position: relative;
}

#hero-image {

    height: 75vh;
    background: url('https://res.cloudinary.com/dexhos525/image/upload/v1654606403/books_opaque_dark_ll1ux6.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
    background-position: top;
    position: relative;
}

#hero-text-container {
    height: 50vh;
    position: relative;
}

.header-text {
    height: 50vh;
}

.page-title {
    margin-top: 1em;  
}

.dropdown {
    position:relative;
    margin: 0;
    border-radius: 0.25rem
}

.dropdown-menu.show {
    background: #5c636a;
}

.dropdown-item {
    color: #ffff;
}

.masthead {
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.heading-text, .heading-text > p {
    color: #FAFAF0;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.review-detail-container {
    margin-top: 25px;
}

.review-body {
   padding: 0;
   background-color: #FAFAF0;
   margin: 1.5% 5%;
}

/* Button styling */

#hero-buttons {
    padding-top: 20px;
}

#add-review-button {
    background: #854D63;
    border-color: #854D63;
    color: #FFFF;
    margin-top: 1em;  
}

.register-button {
    background: #854D63;
    border-color: #854D63;
    color: #FFFF;
}

.register-button:hover, #add-review-button:hover {
    background: #5f3646;
    border-color: #5f3646;
    color: #FFFF;
}



.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.genre-page-dropdown {
    padding-top: 50px;
}

#no-reviews {
    padding-top: 50px;
}

/* Card Styling */

.contact-form {
    border:none;
}

/* .container-genre-card {
    margin: auto;
    width: min(90%, 70.5rem);
} */

#genre-card {
    border: 1px solidrgba(0,0,0,.125);
    background: #D8FFFA;
    margin-bottom: 25px;
    display: flex;
    height: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#genre-card > h1 {
    margin-bottom: 0;
    font-weight: 300;  
}

.card-body {
    background-color: #FAFAF0;
}

.contact-form {
    margin-top: 0rem!important;
}

.post-link {
    color: black;
    text-decoration: none;
}

.post-link:hover {
    color: #5f3646;
}

.about {
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-img {
    margin-bottom: 25px;
    
}

footer a {
    color: black;
    font-size: x-large;
    padding-right: 6px;
}

footer a:hover {
    color: #5f3646;
}