{% extends 'base.html' %}
{% load cloudinary %}
{% load active_link_tags %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
<title>Post your review here</title>
{% endblock %}


{% block content %}
{% if user.is_authenticated %}
<div class="container text-dark">
    <div class="row">
        <div class="col mt-3 mb-5">
            <div class="yellow-box rounded box-shadow">
                <h2 class="text-center lettuce-text text-shadow">Write your review here</h2>
            </div>
            <form action="." method="post" style="margin-top: 1.3em;" enctype="multipart/form-data">
                <div class="row">
                    <div class="col">
                        {% csrf_token %}
                        <div class="row">
                            {{ review_form.rating | as_crispy_field | safe }}
                        </div>
                        <div class="row">
                            {{ review_form.content | as_crispy_field | safe }}
                        </div>
                        <div class="row">
                            {{ review_form.featured_image|as_crispy_field | safe }}
                            <p>A default image will be used if you do not provide one.</p>
                        </div>
                        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        <h2 class="text-center mt-3 fw-bold mb-5 black-lettuce-text">
            Sorry, you're not logged in to <span class="dancing-text">The Paper Lounge</span>
        </h2>
        <p class="text-center mb-5">If you wish to post your own review, please <a class="link"
                href="{% url 'account_login' %}" {% block aria_login %}{% endblock %}>log
                in</a>, or <a class="link" href="{% url 'account_signup' %}"
                {% block aria_signup %}{% endblock %}>create an account.</a>
        </p>
    </div>
</div>

{% endif %}
{% endblock %}