{% extends 'base.html' %}
{% load cloudinary %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
<title>Edit Your Review Here</title>
{% endblock %}

{% block content %}
{% if user.id == review.creator.id %}
<div class="card-body">
    <h4 class="text-center">Edit your review here</h4>
    
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                {{ review_form | crispy }}
            </div>
            <br>
            <input type="submit" value="submit" class="btn btn-secondary">
        </form>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col mt-3 mb-5 text-dark text-center">
                <h1 class="mb-5">You are not authorised to view this page</h1>
                <p>Please <a href="{% url 'account_login' %}">log in</a> or <a href="{% url 'account_signup' %}">register</a> an account.</p>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}