{% extends "base.html" %}
{% load static %}


{% block content %}

<header>
<div id="hero-image" class="container-fluid hero-container">
   <div class="col-12" id="hero-text-container">
       <div class="text-center text-white header-text">
            <h1 class="text-center page-title">Welcome to The Paper Lounge</h1>
            {% if user.is_authenticated %}
            <p>Your first destination for peer book reviews. Click the button below to browse existing reviews, or submit your own.</p>
            {% else %}
            <p>Your first destination for peer book reviews. Click the button below to browse existing reviews, or register an account to start submitting your own.</p>
            {% endif %}           
            <div class="row text-on-top">
                <!--Browse reviews by genre-->
                {% include 'genre_dropdown.html' %}
                <!--Add a review-->
                {% if user.is_authenticated %}
                <div class="btn d-inline-block main-btn">
                    <a class="btn btn-lg" id="add-review-button" href="{% url 'add_review' %}"
                    role="button">Add review here +</a>
                </div>
                {% else %}
                <!--Shows Sign Up and Log In buttons if user is not logged in-->
                <div id="hero-buttons">
                  <a class="btn register-button" href="{% url 'account_signup' %}"
                      role="button">Register</a>
                  <a class="btn btn-success login-button" href="{% url 'account_login' %}"
                      role="button">Log In</a>
                </div>
                {% endif %} 
            </div>
        </div>    
   </div>    
</div>
</header>
<!-- Review entries Column -->
<div class="container-fluid" id="container-reviews"> 
    <div class="col-12 mt-3 left">
        <div class="row">
        {% for review in review_list %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="image-container">
                            {% if "placeholder" in review.featured_image.url %}
                            <img class="review-image card-img-top" alt="book review placeholder image"
                                src="{% static 'images/placeholder.jpg' %}">
                            {% else %}
                            <img class="review-image card-img-top" alt="book review uploaded image"
                                src=" {{ review.featured_image.url }}">
                            {% endif %}
                            <div class="image-flash">
                                <p class="author">Reviewer: {{ review.creator }}</p>
                            </div>
                            <a href="{% url 'review_detail' review.slug %}" class="post-link">
                                <h2 class="card-title">{{ review.title }}</h2>
                                <p class="card-text">by {{ review.author }}</p>
                            </a>
                            <hr />
                            <p class="card-text h6">{{ review.created_on}} <i class="far fa-heart"></i>
                                {{ review.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}    
            {% endfor %} 
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}


{%endblock%}