{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

{% load static %}

<!-- Page Header-->
{% if "placeholder" in review.featured_image.url %}
<header class="masthead" style="background-image: url('{% static 'images/placeholder.jpg' %}');">
    {% else %}
    <header class="masthead" style="background-image: url('{{ review.featured_image.url }}');">
        {% endif %}
        <div class="opaque-overlay">&nbsp;</div>
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="heading-text">
                        <h1>{{ review.title }}</h1>
                        <p>Reviewer: {{ review.creator }}</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
</header>   
 
{% if user.id == review.creator.id %}
<!-- Edit Button, Delete Button and Delete Modal  -->
<div id="modifyReview">
    <div class="col mt-2 mb-3 text-center">
        <!--Edit Button-->
        <a href="{% url 'edit_review' review.slug %}" class="edit"><button class="btn btn-success btn-md"
                value="{{ review.slug }}" type="button">Edit</button></a>
        <!--Delete Button-->
        <button class="btn btn-danger btn-md mx4" data-bs-toggle="modal"
        data-bs-target="#deleteModal{{ review.id }}">Delete</button>
    </div>        
    <!--Modal-->
    <div class="modal fade" id="deleteModal{{ review.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content delete-modal">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete "{{ review.title }}"?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger" href="{% url 'delete_review' review.slug %}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top review-body comments">
            <div class="card-body">
                <p class="card-text ">
                    {{ review.content | safe }}
                </p>
                <p class="rating-text ">
                    <i class="fa-solid fa-star" id="rating-star"></i> rating: {{ review.rating | safe }} / 5
                </p>
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'review_like' review.slug %}" method="post">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="'review_id" value="{{review.slug}}" class="btn-like">
                                <i class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="'review_id" value="{{review.slug}}" class="btn-like">
                                <i class="far fa-heart"></i></button>  
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ review.number_of_likes }}</span>
                        </strong>
                    </div>   
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row review-body">
        <div class="col-md-12 card mb-4 mt-3 card-body">            
            <h3>Comments:</h3>
            <div>
                {% if comments %}
                {% for comment in comments %}
                <div>
                    <p>
                        <strong>{{ comment.name }}</strong>
                        <span>
                            {{ comment.created_on }}
                        </span>
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
                {% else %}
                <p>No comments yet!</p>
                {% endif %}
            </div>
            <div class>
                {% with comments.count as total_comments %}
                <strong class="text-secondary"><i class="far fa-comments"></i>
                    <span class="text-secondary">{{ total_comments }}</span>
                </strong>
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="col-md-4 card mb-4  mt-3 review-body comments ">
        <div class="card-body">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {% csrf_token %}
                {{ comment_form | crispy }}
                <br>
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}






































